<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/sass.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../js/javascript.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Fabrikken A/S</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <div class="container main__info-box text-center main__info-templatespacing">
            <div class="col-md-4 main__info-template">
                    <img src="../../img/heart.svg" alt="" class="main__info-picture img-fluid">
                    <p>Skær din virksomheds omkostninger
                        op til 50% med en
                        af vores ultra effektive
                        og holdbare robotter.</p>
            </div>
            <div class="col-md-4 main__info-template">
                    <img src="../../img/handshake.svg" alt="" class="main__info-picture">
                    <p>Der findes ikke nogle andre
                        firmaer, som er så
                        pålidelige som os.
                        Har du et problem?
                        Så løser vi det med
                        garanti.</p>
            </div>
            <div class="col-md-4 main__info-template">
                    <img src="../../img/piggy-bank.svg" class="main__info-picture">
                    <p class="">Vi er elskede hele verden
                        rundt. Det er vi fordi, vi
                        altid lytter til vores
                        kunders feedback. Vi laver 
                        absolut ingen dårlige
                        undskyldninger!</p>
            </div>
        </div>  <!-- End of main__info-box -->
        <div class="main__products-box col-md-12 margin-top container text-center">
            <h3 class="main__products-title">Products & Services</h3>
            <div class="row col-md-12">
                <a href="#" class="col-md-6">
                    <div class="main__products-template">
                        <img src="../../img/spacex-71871.jpg" alt="" class="img-fluid rounded-circle main__products-images">
                        <h3 class="text-center">Raketter</h3>
                    </div>
                </a>
                <a href="#" class="col-md-6">
                    <div class="main__products-template">
                        <img src="../../img/janko-ferlic-193843.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="text-center">Nedrivning</h3>
                    </div>
                </a>
                <a href="#" class="col-md-6">
                    <div class="main__products-template">
                        <img src="../../img/spacex-71871.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="text-center">Raketter</h3>
                    </div>
                </a>
                <a href="#" class="col-md-6">
                    <div class="main__products-template">
                        <img src="../../img/spacex-71871.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="text-center">Raketter</h3>
                    </div>
                </a>
                <a href="#" class="col-md-6">
                    <div class="main__products-template">
                        <img src="../../img/spacex-71871.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="text-center">Raketter</h3>
                    </div>
                </a>
                <a href="#" class="col-md-6">
                    <div class="main__products-template">
                        <img src="../../img/spacex-71871.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="text-center">Raketter</h3>
                    </div>
                </a>
            </div>

        </div>
    </main>
    <footer>


    </footer>
</body>
</html>